/*  reset  */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 100%;
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

p, h1 {
    overflow-wrap: break-word;
}

/*-------------------------- globals properties --------------------------*/

:root {
    
    --crl-neutral: hsl(0, 0%, 100%);
    --clr-300:  hsl(214, 55%, 83%);
    --clr-200: hsl(212, 45%, 89%);
    --clr-500: hsl(216, 15%, 48%);
    --clr-900: hsl(218, 44%, 22%);

    font-family: "Outfit";

    --fs-400: 15px;
    --fw-normal: 400;
    --fw-bold:700;
}

/*-------------------------- styling --------------------------*/

body {
    background-color: var(--clr-200);
}

main {
    height: 100%;
    display: flex;
    font-size: var(--fs-400);
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    color: var(--clr-500);
}

p {
    font-size: 0.78rem;
    font-weight: 300;
}

/*-------------------------- article card styling --------------------------*/

.article-card {
    --card-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--crl-neutral);
    padding: 0.9em;
    border-radius: var(--card-radius);
    justify-content: center;
    max-width: 16.6em;
    box-shadow: 3px 11px 1em var(--clr-300);
}

.article__img {
    border-radius: calc(var(--card-radius) - 0.5em);
}

.article__content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-inline: 0.6em;
    text-align: center;
    text-align: center;
    margin-top: 1.3em;
    margin-bottom: 1.6em;
}

.article__title {
    font-size: 1.1rem;
    color: var(--clr-900);
}

/*-------------------------- footer --------------------------*/

footer {
    border: none;
    text-align: center;
}